<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.2.xsd
">
	<!--use-expressions="true" 的意思是开启表达式   access-denied-page的意思是，当验证权限失败后会跳转到的页面  -->
	<security:http auto-config="true" use-expressions="true" access-denied-page="/noaccess.do" > 
		<!-- 对登录页面，所有的用户都可以访问 -->       
        <security:intercept-url pattern="/login.do"  access="permitAll" />
        <!-- 对所有的资源，都必须要有ROLE_USER角色的用户 才可以访问 -->  
        <security:intercept-url pattern="/*"  access="hasRole('ROLE_USER')" />
        <!-- 配置登录页面为login.jsp ，登录成功默认跳转到index.jsp，登录失败返回login.jsp并携带参数error=true -->  
        <security:form-login login-page="/login.do" default-target-url="/index.do" authentication-failure-url="/login.do?error=true" />  
        <security:logout invalidate-session="true" logout-success-url="/" logout-url="/logout"/>
	</security:http>
	<!-- 配置一个认证管理器 -->  
    <security:authentication-manager>  
        <security:authentication-provider user-service-ref="AppUserDetailsServiceImpl">  
           <!-- <security:user-service>  -->
                <!-- 这样的配置表示向系统中添加了一个用户 用户名和密码都为admin ,并且该用户拥有ROLE_USER角色（角色可以用逗号隔开） -->  
               <!-- <security:user name="admin" password="admin" authorities="ROLE_USER"/>  -->
            <!--</security:user-service>  -->
        </security:authentication-provider>  
    </security:authentication-manager> 
    <bean id="AppUserDetailsServiceImpl" class="com.mealnotes.app.service.common.impl.AppUserDetailServiceImpl"/>
</beans>